.blockWrapperContainer{
    display: flex;
    column-gap: 10px;
}

.buttonContainer{
    height: 20px;
    width: 15px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    display: flex;
    cursor: pointer;
    color: #cdcdcd
}

.blockWrapperContainer:hover .buttonContainer{
    visibility: visible;
}

.untFlowBlock{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
}

.slateContainer{
    width: 600px;
}